site_name: Yannick Ullisch 
site_description: Portfolio & Project Documentation Hub

docs_dir: docs

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tracking
    # - navigation.footer
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - search.highlight
    - search.share
    - search.suggest
    - content.code.copy
    - content.tabs.link
    - content.tooltips

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: dark blue
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: dark blue
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
extra:
  generator: false
  
plugins:
  - search
  - awesome-pages
  # - puml:
  #     server: https://www.plantuml.com/plantuml

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - https://unpkg.com/mermaid/dist/mermaid.min.js

repo_url: https://github.com/yannickullisch
repo_name: YannickUllisch