site_name: Yannick Ullisch 
site_description: Portfolio & Project Documentation Hub
site_url: https://docs.yannickullisch.com

docs_dir: docs
copyright: Copyright &copy; 2026 Yannick Ullisch

repo_url: https://github.com/yannickullisch
repo_name: YannickUllisch

theme:
  name: material
  logo: images/yul-logo-white.png
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tracking
    - navigation.footer
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - search.highlight
    - search.share
    - search.suggest
    - content.code.copy
    - content.tabs.link
    - content.tooltips

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: mirama
      primary: indigo
      accent: red
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: mirama-dark
      # primary: black
      accent: red
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/yannickullisch

plugins:
  - search
  - awesome-pages
  # - puml:
  #     server: https://www.plantuml.com/plantuml

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - https://unpkg.com/mermaid/dist/mermaid.min.js

